body {
  background-color: #3AAFA9;
  text-align: center;
}
/* Common Selector */
h1 {
  font-family: cursive;
  color: black;
}
.tagline {
  font-weight: bold;
  color: black;
}
#intro{
  color: #6C5B7B;
}

/* Child Selectors */
article h2 {
  color: #FFFFFF;
}

/* Direct Selectors */
article > p {
  color: #FFFFFF;
}

/* General Sibling Selector */
h2 ~ p {
  color: black;
  background-color: #Def2F1;
}

/* Adjacent Sibling Selector */
h2 + p {
  background-color: #DEF2F1;
}
/* Sibling Selectors */
/* Pull Down Menu */
input {
  display: none;
}
label,
ul {
  border: 1px solid #cecfd5;
  border-radius: 6px;
}
label {
  color: #0087cc;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 9px;
  transition: all .15s ease;
}
label:hover {
  color: #ff7b29;
}
input:checked + label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #9799a7;
}
nav {
  max-height: 0;
  overflow: hidden;
  transition: all .15s ease;
}
input:checked ~ nav {
  max-height: 500px;
}
ul {
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
  width: 100px;
}
li {
  border-bottom: 1px solid #cecfd5;
}
li:last-child {
  border-bottom: 0;
}
a {
  color: #0087cc;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
a:hover {
  color: #ff7b29;
}
/* End of Pull Down Member */

/* Content Styling */
article {
  background-color: #2B7A78;
}
section {
  background-color: #2B7A78;
}
.adjacent {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 15px;
}
/* Footer */
.footer {
  display: inline-block;
  margin-right: 350px;
}

/* Attribute Present Selector */
a[target] {
  background-color: white;
  font-size: 20px;
}
a[href="http://google.com/"] {
  font-size: 18px;
  background-color: white;
}
a[href*="login"] {
   padding: 5px;
   border: 1px solid #3AAFA9;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-bottom: 10px;
   border-radius: 10px;
}
a[href^="https://"] {
  background-color: white;
}
a[href$=".pdf"] {
  background-color: #3AAFA9;
  margin-bottom: 10px;
  color: white;
}
a[rel~="tag"] {
  color: white;
}
a[lang|="en"] {
  color: black;
}
ul {
  margin-left: 380px;
}
ul:last-child {
  color: white;
}
p:first-of-type {
  color: #ff7b29;
}
p:last-of-type {
  color: #0087cc;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
